<div class="container">
  <nav>
    <ul>
  <li>Home</li>
  <li>Taco Menu</li>
  <li>Draft List</li>
  <li>Hours</li>
  <li>Directions</li>
  <li>Contact</li>
    </ul>
</nav>
<section>
  <div>section 的 margin-left xxxxxxxxxxxxxxxxxxx</div>
  <div>section 的 margin-left xxxxxxxxxxxxxxxxxxx</div>
  <div>section 的 margin-left xxxxxxxxxxxxxxxxxxx</div>

</section>
<section class ="Second">
  <p>shduihaoshdoiahsiodhoiashdoiha
    soidhoiaphsdoiphsdsadhaskllhkjjjjjjjjjj
    jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
    jjjjjjjjjjjjjjjjjjjjjjjjjaospihdopiahsdoihaoishdoiahsdoiha</p>
</section>
<section>
  <p>sgdaiuopppppppppppppppppppppppppppppppppppppppppppppppppsssssssssssssssssssssssssssssssssssssssss</p>
</section>
</div>
<footer>This is the footer</footer>


